### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [2]:
print("Data","science","Mentorship","program",sep='-',end='-')
print("By","campusx",sep='-',end=' ')

Data-science-Mentorship-program-By-campusx

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [3]:
c = int(input("Enter Celsius:"))
f = (c*9/5)+32
print("Fahrenheit:",f)

Enter Celsius: 10

Fahrenheit: 50.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [4]:
a,b = int(input('enter a:')),int(input("enter b:"))
c = a
a = b
b = c
print("a is:",a)
print("b is:",b)

enter a: 5
enter b: 6

a is: 6
b is: 5

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [25]:
x1,x2,y1,y2 = int(input('enter x1:')),int(input("enter x2:")),int(input('enter y1:')),int(input("enter y2:"))
ed = ((x2-x1)**2 + (y2-y1)**2)**0.5
print("euclidean distance:",ed)

enter x1: 4
enter x2: 3
enter y1: 2
enter y2: 1

euclidean distance: 1.4142135623730951

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [29]:
p,r,t = float(input("enter value:")),float(input("enter rate of interest:")),float(input("enter time period:"))
SI = (p*r*t)/100
print("simple interest:",SI)

enter value: 1000
enter rate of interest: 5
enter time period: 3

simple interest: 150.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [36]:
n = int(input("enter number:"))
sum = 0
for i in range(1,n+1):
    sum = sum + (i*i)
print(f'sum of squares of {n} number is:{sum}')

enter number: 4

sum of squares of 4 number is:30

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [1]:
a = int(input("Enter first term:"))
t = int(input("Enter second term:"))
n = int(input("Enter nth term number:"))
d = t-a
tn = a + (n-1)*d
print("Your nth term is:",tn)

Enter first term: 1
Enter second term: 3
Enter nth term number: 3

Your nth term is: 5

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [2]:
n1 = int(input("Enter first numerator:"))
d1 = int(input("Enter first denominator:"))
n2 = int(input("Enter second numerator:"))
d2 = int(input("Enter second denominator:"))
num = (n1*d2) + (n2*d1)
den = d1*d2
print(f'Sum of Fraction is {num/den}.')

Enter first numerator: 5
Enter first denominator: 6
Enter second numerator: 4
Enter second denominator: 3

Sum of Fraction is 2.1666666666666665.

### Q10:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [7]:
heads = int(input("Enter heads:"))
legs = int(input("Enter legs:"))

if heads > legs//4:
    dogs = legs//4 -1
    chickens = heads-dogs
else:
    dogs = legs//4
    chickens = (legs%4)//2

print(f'dogs:{dogs} , chickens:{chickens}')

Enter heads: 7
Enter legs: 22

dogs:4 , chickens:3

### Q11:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
l, b, h = int(input("Enter L :")), int(input("Enter B :")), int(input("Enter H :"))

hg, rg = int(input("Enter Hg:")), int(input("Enter Rg :"))

volume_of_tank = l*h*b
volume_of_glass = (3.14)*(rg**2)*hg
print(f'NO of glassess are {volume_of_tank/volume_of_glass}')