In [13]:
class Fractions:
  #parameterized constructor
  def __init__(self,x,y):
    self.num = x
    self.den = y
  def __str__(self):
    return "{}/{}".format(self.num,self.den)
  def __add__(self,other):
    new_num = self.num*other.den + other.num*self.den
    new_den = self.den*other.den

    return "{}/{}".format(new_num,new_den)
  def __sub__(self,other):
    new_num = self.num*other.den - other.num*self.den
    new_den = self.den*other.den

    return "{}/{}".format(new_num,new_den)
  def __mul__(self,other):
    new_num = self.num*other.num
    new_den = self.den*other.den

    return "{}/{}".format(new_num,new_den)
  def __truediv__(self,other):
    new_num = self.num*other.den
    new_den = self.den*other.num

    return "{}/{}".format(new_num,new_den)
  def convert_to_decimal(self):
    return self.num/self.den

In [14]:
fr1 = Fractions(3,4)
fr2 = Fractions(1,2)

In [15]:
fr1.convert_to_decimal()

0.75

In [16]:
print(fr1 + fr2)

10/8

In [17]:
print(fr1 - fr2)
print(fr1 * fr2)
print(fr1 / fr2)

2/8
3/8
6/4

In [1]:
class Demo():
  """demo class"""
  pass
print(Demo.__doc__)

demo class

**Accessors and Mutators**

In [2]:
class Student:
  def __init__(self,name,age):
    self._name = name
    self._age = age

  def get_name(self):
    return self._name

s1 = Student('A',20)
print(s1.get_name())

A

In [3]:
class Student:
  def __init__(self,name,age):
    self._name = name
    self._age = age

  def set_name(self,new_name):
    self._name = new_name

s1 = Student('A',20)

In [5]:
s1.set_name('B')

**Constructors (new and init)**

In [8]:
class Point:
  Inst_created = 0

  def __new__(cls,*args,**kwargs):
    if cls.Inst_created >= 3:
      raise ValueError('Cannot create more objects')
    cls.Inst_created += 1
    print('Objec:count ',cls.Inst_created," created...")
    return super().__new__(cls)

In [9]:
p1 = Point()

Objec:count  1  created...

In [10]:
p2 = Point()

Objec:count  2  created...

In [11]:
p3 = Point()

Objec:count  3  created...

In [12]:
p4 = Point()

ValueError: Cannot create more objects